
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  min-height: inherit;
}
#root {
  min-height: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */
.App {
  text-align: center;
  padding: 0;
  background-color:#FAFAFA;
}
/* styles.css */
html {
  min-height: 100vh;
  background-color: #FAFAFA;
  font-family: 'Nunito Sans' !important;
}
body {
  min-height: 100vh;
  font-family: 'Nunito Sans' !important;
}
.flags-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Nunito Sans' !important;

}

/* CountryCard.css */


.country-card {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  margin: 16px; /* Adjust margin as needed */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 250px; /* Adjust card width as needed */
  font-family: 'Nunito Sans' !important;

}


.flag-image {
  width: 100%;
  height: 150px;
  border-radius: 8px 8px 0 0;
}

.country-details {
  padding: 16px;
  float: left;
}

.country-details h3 {
  float: left;
}

.country-details p {
  margin: 0; /* Remove default margin */
  float: left;
}

.ant-input-affix-wrapper{
  width: 300px;
}
.ant-btn{
  height: 40px;
}
.ant-space-compact-block {
  justify-content: end;
}
.searchBar::placeholder{
  font-family: 'Nunito Sans' !important;
}

@media (max-width: 650px) {
  .searchBar{
    max-width: 250px !important;  }
}
@media (max-width: 620px) {
  .searchBar{
    max-width: 250px !important; 
    margin:auto;
  }
  .dark-mode-container{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .theme-switch{
    font-size: small !important;
  }
  h1 {
    font-size: large !important;
  }
  .header {
    grid-template-columns: 1fr !important;
  }
  .flags-grid {
    grid-template-columns: auto;
    justify-content: center !important;
    align-content: center;
    padding-right: 0px !important;
    font-family: 'Nunito Sans' !important;

  }
  .dropdownMen {
    justify-content: center !important;
    font-family: 'Nunito Sans' !important;
    margin: auto !important;
    grid-column-start: -2 !important;
    left: 0px;
    width : 250px !important;
    justify-self: end;
  }
}

@media (max-width: 850px) {
.searchBar {
  /* grid-column: 1 / 3 !important; */
  max-width: 250px !important;
}

}
@media (max-width: 850px) {
  .ant-space-compact {
    justify-content: center !important;
  }
}

.darkHeader{
  background-color: #2B3743 !important;
  color: white !important;  
}
.darkHeader::placeholder{
  color: white !important;  
  font-family: 'Nunito Sans' !important;

}
.dark {
  background: #202D36 !important;
  color: white !important;
}

h1 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: x-large;
}
.dark-mode-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-bottom: 30px; */
  font-family: 'Nunito Sans' !important;

}

.ant-input.ant-input-lg{
  border: 0;
  border-radius: 0 4px 4px 0 !important;
  box-shadow: 0 0 0 0 !important;
}
.ant-input-group-addon {
  border-radius: 4px 0 0 4px !important;
  border: 0 !important;
}
:where(.css-dev-only-do-not-override-1g853jt).ant-input-group .ant-input-group-addon {
  background-color: white ;
}
.ant-btn.ant-btn-default.ant-btn-compact-item.ant-btn-compact-first-item {
  pointer-events: none;
}
.ant-btn{
  border: none;
}
/* .ant-btn.ant-btn-default.ant-btn-icon-only.ant-btn-compact-item.ant-btn-compact-last-item.ant-dropdown-open:hover {
  background-color: initial !important;
}
/* 
.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
  background-color: black;

} 

/* .ant-btn.ant-btn-default.ant-btn-icon-only.ant-btn-compact-item.ant-btn-compact-last-item.ant-dropdown-trigger {
  background-color: initial !important;
  } */
/* 
.ant-btn.ant-btn-default.ant-btn-icon-only.ant-btn-compact-item.ant-btn-compact-last-item.ant-dropdown-trigger:hover {
background-color: initial !important;
} */

/* Exclude hover styles when the ignore-hover class is present */
.dropdownMen > .ant-btn:not(.darkHeader):hover {
  /* Empty or reset styles here */
  /* background-color:unset; */
}
.darkHeader:hover {
  background-color: #2B3743;
}

#switch {
  background: transparent;
  border: none;
}

.details-page {
  padding: 50px;
  display: grid;
  grid-template-rows: auto 1fr; /* Two rows, first is auto-sized for the back button, and the second takes the remaining space */
  grid-template-columns: 1fr 1fr; /* Two columns for image and details */
  gap: 20px; /* Adjust the gap between rows and columns as needed */
  /* place-items: center; Centers both horizontally and vertically */
  align-items: center;
  overflow: hidden;
}

.image-container {
  grid-row: 2 / 3; /* Span two rows */
  grid-column: 1; /* First column */
  text-align: left;
}

.details-container {
  grid-row: 2 / 3; /* Span two rows */
  grid-column: 2; /* Second column */
  text-align: left;
}
.button-container{
  grid-row: 1; /* first rows */
  grid-column: 1; /* first column */
  text-align: left;
}

.details{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  gap: 0px;
  margin-bottom: 65px;
}
.button-container > button.ant-btn {
  width: 110px ;
  height: 32px ;
  padding-left: 10px;
}